body {
  background-color: white;
}

/* ヘッダーのcss */
header {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100px;
  width: 100%;
  margin: 0;
  background-color: #1976d2;
}

.link {
  display: flex;
  align-items: center;
  gap: 16px; 
  margin-left: 800px;
}


.search {
  margin-bottom: 60px;
  margin-top: 40px;
}

/* 結果表示 */
.result {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.result p {
  text-align: center;
}
