

.button {
    display: flex;
    align-items: center;
    width: 700px;
    height: 240px;
    padding: 15px;
    margin: 30px;
    border: 2px solid #9bcbff; /* 枠線 */
    border-radius: 8px; /* 角丸 */
    background-color: #fff; /* 背景色 */
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1); /* 影 */
    text-decoration: none;
    color: #333;
    font-size: 28px;
    font-weight: bold;
    
}

.button img {
    margin-left: 10px;
    width: 180px;
    height: 180px;
}

.button span{
    padding-left: 130px;
}

.button:hover {
    background-color: #f0f0f0;
    border-color: #859aff;
}
