/* ヘッダーのcss */
header {
  display: flex;
  padding: 0;
  align-items: center;
  height: 100px;
  width: 100%;
  margin: 0;
  /* padding: 0 40px;  */
  background-color: #1976d2;
}

.logo {
  width: 110px;
}

.nav-link {
    width: 500px;
}

.link {
    margin-left: 763px; 
    flex-grow: 1;  
}

/* cardのcss */
.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3列 */
  gap: 20px; /* カード間の余白 */
  padding: 20px;
  margin: 0 auto;
  width: 1200px; 
}

.card1, .card2, .card3,
.card4, .card5, .card6 {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 16px;
  text-align: center;
  transition: transform 0.3s ease;
  height: 450px;
  width: 330px;
}

.card1:hover, .card2:hover, .card3:hover,
.card4:hover, .card5:hover, .card6:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 210px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 16px;
  margin: 8px 0;
  color: #333;
}

.card .detail {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  height: 105px;
}

/* ページ遷移 */
ul li {
    list-style: none;
}

.pagenation-ui {
    display: flex;
    align-items: center;
    margin-left: 400px;
}

.pagenation-ui button {
  background-color: transparent; /* 背景を透明にする */
  border: none;                  /* 枠線も消す */
  color: black;                 
  box-shadow: none;              /* MUIなどで勝手に入る影も消す */
  outline: none;                 /* フォーカス時の枠線も消す */
  padding: 8px 12px;             /* ボタンの中身の余白調整 */
  border-radius: 8px;            
  cursor: pointer;
}

.pagenation-ui button:hover {
  background-color: white;
  border-radius: 8px; 
}


 body {
  background-color: white;
} 

button.active {
  background-color: #1976d2;
  color: white;
  font-weight: bold;
}

button.active {
  background-color: #1976d2;
  color: white;
  font-weight: bold;
}

.pagenation-ui {
  margin-left: 500px;
}

